.loading {
  width: 100%;
  height: 100vh;
  background-color: #000000c2;
  position: fixed;
  top: 0;
  z-index: 10000;
  cursor: progress;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading>img {
  width: 100px;
}

.none{
  display: none !important;
}


.main-bg {
  background-color: #005c9e;
  background: url(../image/bg-k.jpg);
  background-repeat: no-repeat;
  background-size: cover;
   background-position: center;
}

.login-text{
  color: #FFF;
  font-size: 20px;
  margin-bottom: 20px;
}

.back {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ffc324;
  font-size: 15px;
}

.image-logo {
  width: 150px;
  display: block;
  margin: auto;
  margin-bottom: 30px;
  margin-top: -40px;
}

.image-logo-main {
  margin-top: 0px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.form-control {
  border-radius: 0;
  color: #FFF;
  background-color: transparent;
  border: 1px solid #fff;
}

.form-control::-moz-placeholder {
  color: #ffffff8c;
  opacity: 1
}

.form-control:-ms-input-placeholder {
  color: #ffffff8c
}

.form-control::-webkit-input-placeholder {
  color: #ffffff8c
}

.box-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  padding: 0 20px;
}

.pdd-0 {
  padding: 0;
}

.btn-sso {
  color: #FFF;
  background-color: #ffc324;
  border: #d49f13;
  border-radius: 0;
  padding: 10px 50px;
  margin-top: 15px;
}

.btn-sso.focus, .btn-sso:focus {
  color: #fff;
  background-color: #ffc324;
  border-color: #d49f13
}

.btn-sso:hover {
  color: #fff;
  background-color: #ffc324;
  border-color: #d49f13
}

.btn-sso.active, .btn-sso:active, .open>.dropdown-toggle.btn-sso {
  color: #fff;
  background-color: #ffc324;
  background-image: none;
  border-color: #d49f13
}

.btn-sso.active.focus, .btn-sso.active:focus, .btn-sso.active:hover, .btn-sso:active.focus, .btn-sso:active:focus, .btn-sso:active:hover, .open>.dropdown-toggle.btn-sso.focus, .open>.dropdown-toggle.btn-sso:focus, .open>.dropdown-toggle.btn-sso:hover {
  color: #fff;
  background-color: #ffc324;
  border-color: #d49f13
}

.btn-sso.disabled.focus, .btn-sso.disabled:focus, .btn-sso.disabled:hover, .btn-sso[disabled].focus, .btn-sso[disabled]:focus, .btn-sso[disabled]:hover, fieldset[disabled] .btn-sso.focus, fieldset[disabled] .btn-sso:focus, fieldset[disabled] .btn-sso:hover {
  background-color: #ffc324;
  border-color: #d49f13
}

.form-control:focus {
  border-color: #ffc324;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.a-sso {
  display: block;
  color: #ffc324;
  margin-top: 15px;
  text-decoration: underline;
}

label {
  color: #FFF;
}

.box-profile {
  background-color: #005c9e;
  color: #FFF;
  padding: 16px 10px;
  border-bottom-left-radius: 5rem;
}

.profile {
  position: relative;
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-left: 6px;
}

.profile img {
  width: 80px;
  height: 80px;
}

.profile .name-profile {
  margin-left: 28px;
}

.name-profile>h1 {
  margin: 0;
  font-size: 28px;
}

.name-profile>p {
  margin: 0;
  font-size: 20px;
  line-height: 22px;
}

.queue {
  padding: 10px 20px 0px 20px;
}

.queue>p {
  margin: 0;
  font-size: 20px;
  color: #777;
}

.box-queue, .status-queue {
  border-radius: 1.2rem;
  box-shadow: 0px 0px 4px -1px #bbbbbb;
}

.box-queue>.queue-header {
  padding: 4px;
  text-align: center;
  background-color: #005c9e;
  color: #FFF;
  font-weight: bold;
  font-size: 17px;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
}

.box-queue>.queue-body>.number {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
  color: #ffc324;
}

.font-18>td {
  font-size: 18px !important;
}

.status-queue {
  position: relative;
  background-color: #005c9e;
  color: #FFF;
}

.status-queue .queue-repeat {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #FFF;
  padding: 4px 8px;
  border-radius: 4rem;
}

.status-queue .queue-repeat span {
  top: 3px;
}

.status-queue .header-status {
  text-align: center;
  padding-top: 10px;
  font-size: 22px;
}

.status-queue p {
  margin: 0;
  padding: 8px;
  text-align: center;
}

.box-home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.box-home>.box {
  padding: 10px;
  border: 2px solid #FFF;
  margin-right: 10px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.box-home>.box>img {
  display: block;
  margin: auto;
  width: 100px;
}

.box-home>.box>p {
  margin: 0;
  text-align: center;
  color: #FFF;
  font-size: 40px;
}

.res-queue{
  text-align: center;
  font-size: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  top: 9vh;
  color: #FFF;
}

.text-qr{
  text-decoration: underline;
}

.qrcode{
  display: block;
  width: 65%;
  margin: auto;
  padding: 20px
}

.modal-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  width: 100%;
}

.modal-body{
  min-width: 580px;
  min-height: 580px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;

}

.modal-body img{
  width: 40%;
  margin-top: 60px;
}


.box-message-head > td:first-child{
  border-right: 2px solid #FFF;
}

.box-message-head > td{
  color: #FFF;
  text-align: center;
  font-size: 7vh;
  border-bottom: 3px solid #FFF;
}
