.box-queue-run{
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;
  flex-direction: row;
  width: 100%;
  /* min-height: 67vh; */
  height: calc(100vh - 325px);
  margin-top: 215px;
}

.main-bg{
  overflow: hidden;
}

.res-queue {
    text-align: center;
    font-size: 55px !important;
    top: 4vh;
}

.modalH{
  color: #fff;
  font-size: 40px;
}


.btn-border{
  border: 1px solid #337ab7;
  padding: 20px;
  min-width: 300px;
  text-align: center;
  color: #FFF;
  border-radius: 5rem;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: #005c9e;
  background-image: linear-gradient(to top, #ffffff3b, #8ba2b4);
}

.btn-border h1
{
  margin-top: 10px;
  line-height: 36px;
}


.btn-border:hover{
  background-image: linear-gradient(to top, #ffffff3b, #3a5e7b);
}

.btn-border2 h2
{
  margin-top: 10px;
}

.btn-border2{
  border: 1px solid #337ab7;
  min-width: 200px;
  padding: 6px;
  text-align: center;
  color: #FFF;
  border-radius: 5rem;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: #005c9e;
  background-image: rgb(255 255 255 / 15%);
  /* background-image: linear-gradient(to top, #ffffff3b, #8ba2b4); */
}

.btn-border2:hover{
  background-color: rgb(255 255 255 / 30%);
}

.main-footer
{
  color : #ccc;
  margin-left: 10px;
  opacity: 0.5;
  font-weight: normal !important;
}

.pull-right{
  color : #ffffff;
  margin-right: 10px;
}


.pdf-box{
  width: 58mm;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom:1px solid #000;
  padding: 0px 15px 15px 15px;
  text-align: center;
}

.pdf-img{
  display: block;
  width:100px;
  margin: 10px auto;
}


.pdf-h{
  font-size: 40pt;
  margin: 5px 0px 15px 0px;
  text-align: center;
  padding-bottom: 10px;
}

.pdf-s{
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.pdf-w{
  font-size: 16px;
  margin: 10px;
  text-align: center;
}


.pdf-q{
  font-size: 16px;
  margin: 0;
  text-align: center;
}

.pdf-c{
  font-size: 14px;
  margin: 10;
  text-align: center;
}

.pdf-cc{
  font-size: 14px;
  margin: 10;
  margin-top : 15px;
  text-align: center;
}

.pdf-m{
  font-size: 14px;
  margin: 10px;
  text-align: justify;
}

#user{
  opacity: 0;
}
