.pdf-box{
  width: 80mm;
  position: absolute;
  top: 0;
  left: 0;
  /* border-bottom:1px solid #000; */
  /* padding: 0px 15px 15px 15px; */
  padding: 0px 0px 0px 0px;
  text-align: center;
}

.pdf-img{
  display: block;
  width:100px;
  margin: 10px auto;
}


.pdf-h{
  font-size: 42pt;
  margin: 5px 0px 15px 0px;
  text-align: center;
  padding-bottom: 10px;
}

.pdf-s{
  font-size: 22px;
  margin: 0;
  text-align: center;
}

.pdf-w{
  font-size: 18px;
  margin: 10px;
  text-align: center;
}


.pdf-q{
  font-size: 18px;
  margin: 0;
  text-align: center;
}

.pdf-c{
  font-size: 16px;
  margin: 10;
  text-align: center;
}

.pdf-cc{
  font-size: 16px;
  margin: 10;
  margin-top : 15px;
  text-align: center;
}

.pdf-m{
  font-size: 16px;
  margin: 10px 40px 5px 40px;
  text-align: justify;
}
