.pdf-box{
  width: 58mm;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom:1px solid #000;
  padding: 0px 15px 15px 15px;
  text-align: center;
}

.main-bg{
  overflow: hidden;
}

.pdf-img{
  display: block;
  width:60px;
  margin: 10px auto;
}

.box-home {
    height: calc(100vh - 87px);
}

.modalH{
  color: #fff;
  font-size: 40px;
}

.res-queue {
    text-align: center;
    font-size: 55px;
    top: 4vh;
}

.main-footer
{
  color : #ccc;
  margin-left: 10px;
  opacity: 0.5;
  font-weight: normal !important;
}

.pull-right{
  color : #ffffff;
  margin-right: 10px;
}

.pdf-h{
  font-size: 26pt;
  margin: 5px 0px 15px 0px;
  text-align: center;
  padding-bottom: 20px;
}


.pdf-q{
  font-size: 16px;
  margin: 0;
  text-align: center;
}

#user{
  opacity: 0;
}
