@media (max-width: 767px) {
  div.classShowMini {
    display:block !important;
  }
  div.classShow {
    display:none !important;
  }
}

@media (min-width: 768px) {
  div.classShowMini {
    display:none !important;
  }
  div.classShow {
    display:block !important;
  }
}

.info-box-text
{
  font-size: 28px;
}

.btn.disabled
{
  cursor: not-allowed;
}

label.disabled
{
  cursor: not-allowed;
}

.toggle-on.btn.disabled {
    cursor: not-allowed;
}

.toggle-off.btn.disabled {
    cursor: not-allowed;
}

div.relative {
  position: relative;
  height:200px;
}

div.absolute {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 100%;
  height: 50px;
  text-align: right;
  font-size: 18px;
}

.small-box .icon {
    top: 6px;
    right: 10px;
    font-size: 80px;
}

.small-box:hover .icon {
    font-size: 85px;
}

.small-box>.small-box-footer {
    background: rgba(59, 59, 166);
}

.small-box>.small-box-footer:hover {
    color: #fff;
    background: rgba(59, 59, 166, 0.8);
}


.fagency
{
  font-size: 24px !important;
  margin: 0 0 0px;
  color: #fff;
}

@media (max-width: 767px)
{
  .fagency {
      font-size: 20px !important;
  }
}

.info-box-number
{
  font-size: 28px;
  color: #FFC300;
}

.labelS{
  line-height: 40px;
  text-align:right;
  margin-bottom: 0px;
}


.tableClass{
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #3a4342;
}
.tableClass thead tr
{
    height: 40px;
    background-color: #3a4342;
    color: #FFFFFF;
    font-weight: bold;
  }

.tableClass tbody tr
{
  height: 40px;
  background-color: #FFFFFF;
  color: #3a4342;
  font-weight: bold;
  border: 1px solid #3a4342;
}

.toggle.btn {
    min-height: 20px !important;
    height:20px !important;
    width: 40px !important;
}

.toggle-on {
    top: -8px;
}
.toggle-off {
    top: -8px;
}

.toggle-handle {
    top: -3px;
}

.tableClass tbody tr td
{
  padding: 10px;
  line-height: 14px;
  background-color: #FFFFFF;
}
.tableClass tbody tr td:nth-child(1)
{
  border-right: 1px dotted #3a4342;
}

.icon-user{
    text-align: right;
    color: #b9b9b9;
    border-right: 1px solid #3a4342;
}
.count-p{
    font-size: 11px;
    color: #b9b9b9;
    position: absolute;
    bottom: 7px;
    right: 24px;
}
.icon-arrow{
    position: absolute;
    font-size: 33px;
    font-weight: bold;
    top: 6px;
    right: 10px;
    color: #606362;
}

.progress-text
{
  font-weight: 400 !important;
  text-align: left;
  margin-left: -30px;
}

.progress-text-n
{
  font-size: 18px;
  text-align: left;
}

.progress-text2
{
  box-sizing: border-box;
  font-size: 16px;
  text-align: left;
  color: #938686;
}

.progress {
    height: 15px;
    margin-bottom: 0px;
}

.progress.sm, .progress-sm, .progress.sm .progress-bar, .progress-sm .progress-bar {
    border-radius: 1px;
    border: 1px solid #e4e4e4;
    height: 12px;
}
