.pdf-box{
  width: 58mm;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom:1px solid #000;
  padding: 0px 15px 15px 15px;
  text-align: center;
}

.main-bg{
  overflow: hidden;
}

.pdf-img{
  display: block;
  width:60px;
  margin: 10px auto;
}

.box-home {
    height: calc(100vh - 110px);
}

.modalH{
  color: #fff;
  font-size: 40px;
}

.res-queue {
    text-align: center;
    font-size: 55px;
    top: 4vh;
}

.btn-ref
{
  width:0px;
  border:0px solid #fff;
}

.btn-ref:focus:hover:after
{
  width:0px;
  border:0px solid #fff;
}

.main-footer
{
  color : #ccc;
  margin-left: 10px;
  opacity: 0.5;
  font-weight: normal !important;
}

.pull-right{
  color : #ffffff;
  margin-right: 10px;
}

.pdf-h{
  font-size: 26pt;
  margin: 5px 0px 15px 0px;
  text-align: center;
  padding-bottom: 20px;
}


.pdf-q{
  font-size: 16px;
  margin: 0;
  text-align: center;
}

#user{
  opacity: 0;
}
.btn-border h1
{
  margin-top: 10px;
  line-height: 36px;
}


.btn-border:hover{
  background-image: linear-gradient(to top, #ffffff3b, #3a5e7b);
}

.btn-border2 h2
{
  margin-top: 10px;
}

.btn-border2{
  border: 1px solid #337ab7;
  min-width: 200px;
  padding: 6px;
  text-align: center;
  color: #FFF;
  border-radius: 5rem;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: #005c9e;
  background-image: rgb(255 255 255 / 15%);
  /* background-image: linear-gradient(to top, #ffffff3b, #8ba2b4); */
}

.btn-border2:hover{
  background-color: rgb(255 255 255 / 30%);
}


.box-home>.box {
    margin-top: 23px;
}

.modal-body2 {
    width: 580px;
    min-height: 580px;
    flex-direction: column;
    display: block;
    align-items: center;
    justify-content: center;
    padding-right: 120px;
    padding-left: 120px;
    padding-top: 50px;
}

.number-pad
{
  height:80px;
  font-size:50px;
}

.number-del
{
  height: 80px;
  font-size: 36px;
  line-height: 0px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 0px solid #ddd;
}
