.box-queue-run{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0 50px;
}

.btn-border{
  border: 1px solid #FFF;
  padding: 10px;
  min-width: 300px;
  text-align: center;
  color: #FFF;
  border-radius: 5rem;
  cursor: pointer;
  margin-bottom: 20px;
}


.pdf-box{
  width: 58mm;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom:1px solid #000;
  padding: 0px 15px 15px 15px;
  text-align: center;
}

.pdf-img{
  display: block;
  width:60px;
  margin: 10px auto;
}


.pdf-h{
  font-size: 26pt;
  margin: 5px 0px 15px 0px;
  text-align: center;
  padding-bottom: 20px;
}


.pdf-q{
  font-size: 16px;
  margin: 0;
  text-align: center;
}

#user{
  opacity: 0;
}
