
.loadingImg{
    position: fixed;
    top: 0;
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
    background-color: #00000085;
    z-index: 2000;
}

.none{
  display: none !important;
}


.btn_point
{
  cursor: pointer;
}


.content-wrapper {
  background-image: url("../../image/t.png");
  background-repeat: no-repeat;
  background-position: right bottom;

  object-fit: cover;
}

/* --------------------------EDIT FONT -------------*/


.treeview-menu {
    padding-left: 0px;
}

table.table-striped>thead>tr>th {
  text-align: center;
  background-color: #ebebeb;
}

.form-control{
  height: 40px;
}

.form-group {
    margin-bottom: 24px;
}

.content-header>.breadcrumb {
  font-size: 16px;
}

.skin-purple-light .main-header .navbar .nav>li>a:hover, .skin-purple-light .main-header .navbar .nav>li>a:active, .skin-purple-light .main-header .navbar .nav>li>a:focus, .skin-purple-light .main-header .navbar .nav .open>a, .skin-purple-light .main-header .navbar .nav .open>a:hover, .skin-purple-light .main-header .navbar .nav .open>a:focus, .skin-purple-light .main-header .navbar .nav>.active>a {
    /* background: #18559a; */
    /* background: #262626; */
    background-color: #555299;
    color: #f6f6f6;
}

.skin-purple-light .main-header .navbar .sidebar-toggle:hover {
    /* background-color: #262626; */
    /* background-color: #242d6d; */
}

.skin-blue .main-header .navbar .sidebar-toggle {
    font-size: 14px;
}

.skin-purple-light .main-header .navbar .sidebar-toggle {
    font-size: 14px;
}

.skin-blue .main-header .navbar {
    background-color: #242d6d;
    /* background-color: #3d3d3d; */
    /* background-color: #005c9e; */
}

.skin-purple-light .main-header .navbar {
    /* background-color: #3d3d3d; */
    background-color: #242d6d;
}

.skin-purple-light .main-header .logo {
    /* background-color: #18559a; */
    /* background-color: #000; */
    background-color: #005c9e;
}

.skin-purple-light .main-header li.user-header {
    /* background-color: #18559a; */
    /* background-color: #000; */
    background-color: #005c9e;
}

.skin-purple-light .main-header .logo:hover {
    /* background-color: #262626; */
}

a.dropdown-toggle {
  /* background-color: #18559a; */
  /* background-color: #000; */
  background-color: #005c9e;
}


.btn-app>.badge {
    font-size: 14px;
}

.content-header>h1 {
    margin: 0;
    font-size: 30px;
}

.skin-purple-light .sidebar-menu>li>a {
  color:#242d6d;
}

.skin-purple-light .sidebar-menu>li:hover>a{
  color: #18559a;
  background: #f4f4f5;
}

.skin-purple-light .sidebar-menu .treeview-menu>li.active>a {
  font-weight: 500;
  color: #0a2442;
  background-color: #DBEDEE;
}

.skin-purple-light .sidebar-menu .treeview-menu>li>a:hover {
  color: #0a2442;
  background: #f4f4f5;
}

.skin-purple-light .sidebar-menu>li.active>a {
    font-weight: 500;
    color: #0a2442;
    background: #e4e4e7;
}

.skin-purple-light .sidebar-menu .treeview-menu>li>a {
    color: #777;
}

.skin-purple-light .sidebar-menu>li>a {
    font-weight: 400;
}

.skin-purple-light .sidebar-menu>li.active>a {
    font-weight: 400;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p>small {
    font-size: 16px;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    font-size: 20px;
}

.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    width: 25px;
    font-size: 18px;
}

.treeview-menu>li>a>.fa, .treeview-menu>li>a>.glyphicon, .treeview-menu>li>a>.ion {
    width: 25px;
    font-size: 15px;
}

.btn {
    font-size: 18px;
    height: 35px;
  }

.btn-shortcut{
  height: 80px;
  width: 100px;
}

.form-control-feedback {
    line-height: 40px;
}

.sidebar-menu li.header {
    font-size: 18px;
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    font-size: 24px;
}

.sidebar-menu li>a>.pull-right-container {
    margin-top: -12px;
}

.treeview-menu>li>a {
    font-size: 20px;
}

.form-control {
  font-size: 20px;
}

.form-control.custom-file-input{
  padding: 1px;
}

input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
    outline: 0px auto -webkit-focus-ring-color !important;
    /* outline-offset: -2px; */
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'เลือกไฟล์';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 4px 18px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 18px;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.box-header .box-title {
    font-size: 24px;
}

.modal-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}

a.btnAdd {
    font-size: 22px;
    height: 40px;
    width: 150px;
    line-height: 27px;
  }

  a.btnAdd>i {
      font-size: 18px !important;
      line-height: 40px !important;
    }


.daterangepicker .calendar-table {
    font-size: 20px;
}

.daterangepicker .input-mini.active {
    border-radius: 0px !important;
}
.daterangepicker .input-mini {
    border-radius: 0px !important;
}
.daterangepicker .calendar th, .daterangepicker .calendar td {
    border-radius: 0px;
}

.datepicker thead tr:first-child th, .datepicker tfoot tr th {
    border-radius: 0px;
}

.datepicker-days
{
  font-size: 20px;
}

.datepicker-months
{
  font-size: 20px;
}

.datepicker-years
{
  font-size: 20px;
}

span.month{
  width: 37px;
}

.datepicker td, .datepicker th {
    width: 37px !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px !important;
    border: none;
}

.datepicker th.datepicker-switch {
    font-size: 20px;
    width: 145px !important;
}


div.dataTables_wrapper div.dataTables_length select {
    height: 40px;
}

.checkbox label, .radio label {
    line-height: 23px;
}

.calendar .calendar-header table th {
    font-size: 22px !important;
}


.calendar table.month th.month-title {
    font-size: 20px !important;
    padding-bottom: 5px;
}

.calendar table.month th.day-header {
    font-size: 18px !important;;
}

.calendar table td, .calendar table th {
    font-size: 20px !important;
    width: 30px !important;
}

.calendar .month-container {
    height: 250px !important;
}


.main-header .navbar {
    /* margin-left: 250px; */
    margin-left: 274px;
}

@media (max-width: 767px)
{
  .main-header .navbar {
      margin: 0;
  }
}




.select2-container--default .select2-selection--multiple {
    height: 40px;
}

.select2-selection--multiple.has-error  {
    border: 1px solid #dd4b39 !important;
}

.select2-error{
  color: #dd4b39;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 3px;
}

/*----------------------------------------------*/

@media (max-width: 1700px) {
  .scrollAuto{
    overflow-x: auto;
  }
}

.logo-gym{height:40px;width:auto;}.htop{background:#fe4203;}

.logo-lg{
  font-family: "CSChatThai";
  font-size: 24px;
}
/*
P.S: if you like my content maybe you will become a donator and donate some money? That helps me to create new awesome materials. https://www.paypal.me/melnik909
*/

/*
I've used nested span elements for creating an animation of square turn and creating an arrow animation. But if you know other a solution please email me
melnik909@ya.ru
*/

/*
=====
LEVEL 1. CORE STYLES
=====
*/

.toggle{
  --uiToggleSize: var(--toggleSize, 20px);
  --uiToggleIndent: var(--toggleIndent, .4em);
  --uiToggleBorderWidth: var(--toggleBorderWidth, 2px);
  --uiToggleColor: var(--toggleColor, #000);
  --uiToggleDisabledColor: var(--toggleDisabledColor, #868e96);
  --uiToggleBgColor: var(--toggleBgColor, #fff);
  --uiToggleArrowWidth: var(--toggleArrowWidth, 2px);
  --uiToggleArrowColor: var(--toggleArrowColor, #fff);

  display: inline-block;
  position: relative;
}

.toggle__input{
  position: absolute;
  left: -99999px;
}

.toggle__label{
  display: inline-flex;
  cursor: pointer;
  min-height: var(--uiToggleSize);
  padding-left: calc(var(--uiToggleSize) + var(--uiToggleIndent));
}

.toggle__label:before, .toggle__label:after{
  content: "";
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  font-size: var(--uiToggleSize);

  position: absolute;
  left: 0;
  top: 0;
}

.toggle__label:before{
  border: var(--uiToggleBorderWidth) solid var(--uiToggleColor);
  z-index: 2;
}

.toggle__input:disabled ~ .toggle__label:before{
  border-color: var(--uiToggleDisabledColor);
}

.toggle__input:focus ~ .toggle__label:before{
  /* box-shadow: 0 0 0 2px var(--uiToggleBgColor), 0 0 0px 4px var(--uiToggleColor); */
}

.toggle__input:not(:disabled):checked:focus ~ .toggle__label:after{
  /* box-shadow: 0 0 0 2px var(--uiToggleBgColor), 0 0 0px 4px var(--uiToggleColor); */
}

.toggle__input:not(:disabled) ~ .toggle__label:after{
  background-color: var(--uiToggleColor);
  opacity: 0;
}

.toggle__input:not(:disabled):checked ~ .toggle__label:after{
  opacity: 1;
}

.toggle__text{
  margin-top: auto;
  margin-bottom: auto;
}

/*
The arrow size and position depends from sizes of square because I needed an arrow correct positioning from the top left corner of the element toggle
*/

.toggle__text:before{
  content: "";
  box-sizing: border-box;
  width: 0;
  height: 0;
  font-size: var(--uiToggleSize);

  border-left-width: 0;
  border-bottom-width: 0;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: var(--uiToggleArrowColor);

  position: absolute;
  top: .5428em;
  left: .2em;
  z-index: 3;

  transform-origin: left top;
  transform: rotate(-40deg) skew(10deg);
}

.toggle__input:not(:disabled):checked ~ .toggle__label .toggle__text:before{
  width: .5em;
  height: .25em;
  border-left-width: var(--uiToggleArrowWidth);
  border-bottom-width: var(--uiToggleArrowWidth);
  will-change: width, height;
  transition: width .1s ease-out .2s, height .2s ease-out;
}

/*
=====
LEVEL 2. PRESENTATION STYLES
=====
*/

/*
The demo skin
*/

.toggle__label:before, .toggle__label:after{
  border-radius: 0px;
}

/*
The animation of switching states
*/

.toggle__input:not(:disabled) ~ .toggle__label:before,
.toggle__input:not(:disabled) ~ .toggle__label:after{
  opacity: 1;
  transform-origin: center center;
  will-change: transform;
  transition: transform .2s ease-out;
}

.toggle__input:not(:disabled) ~ .toggle__label:before{
  transform: rotateY(0deg);
  transition-delay: .2s;
}

.toggle__input:not(:disabled) ~ .toggle__label:after{
  transform: rotateY(90deg);
}

.toggle__input:not(:disabled):checked ~ .toggle__label:before{
  transform: rotateY(-90deg);
  transition-delay: 0s;
}

.toggle__input:not(:disabled):checked ~ .toggle__label:after{
  transform: rotateY(0deg);
  transition-delay: .2s;
}

.toggle__text:before{
  opacity: 0;
}

.toggle__input:not(:disabled):checked ~ .toggle__label .toggle__text:before{
  opacity: 1;
  transition: opacity .1s ease-out .3s, width .1s ease-out .5s, height .2s ease-out .3s;
}

/*
=====
LEVEL 3. SETTINGS
=====
*/

.toggle{
  --toggleColor: #d30000;
  --toggleBgColor: #e46262;
  --toggleSize: 20px;
}
