.box-queue-run{
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center;
  flex-direction: row; */
  width: 100%;
  /* min-height: 67vh; */
  height: calc(100vh - 10px);
  overflow: hidden;
}


.main-bg{
  overflow: hidden;
}

.res-queue {
    text-align: center;
    font-size: 55px !important;
    top: 4vh;
}

.modalH{
  color: #fff;
  font-size: 40px;
}


.btn-border{
  border: 1px solid #337ab7;
  padding: 20px;
  min-width: 300px;
  text-align: center;
  color: #FFF;
  border-radius: 5rem;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: #005c9e;
  background-image: linear-gradient(to top, #ffffff3b, #8ba2b4);
}

.btn-border h1
{
  margin-top: 10px;
  line-height: 36px;
}


.btn-border:hover{
  background-image: linear-gradient(to top, #ffffff3b, #3a5e7b);
}

.btn-border2 h2
{
  margin-top: 10px;
}

.btn-border2{
  border: 1px solid #337ab7;
  min-width: 200px;
  padding: 6px;
  text-align: center;
  color: #FFF;
  border-radius: 5rem;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: #005c9e;
  background-image: rgb(255 255 255 / 15%);
  /* background-image: linear-gradient(to top, #ffffff3b, #8ba2b4); */
}

.btn-border2:hover{
  background-color: rgb(255 255 255 / 30%);
}

.main-footer
{
  color : #ccc;
  margin-left: 10px;
  opacity: 0.5;
  font-weight: normal !important;
}

.pull-right{
  color : #ffffff;
  margin-right: 10px;
}


.pdf-box{
  width: 58mm;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom:1px solid #000;
  padding: 0px 15px 15px 15px;
  text-align: center;
}

.pdf-img{
  display: block;
  width:100px;
  margin: 10px auto;
}


.pdf-h{
  font-size: 40pt;
  margin: 5px 0px 15px 0px;
  text-align: center;
  padding-bottom: 10px;
}

.pdf-s{
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.pdf-w{
  font-size: 16px;
  margin: 10px;
  text-align: center;
}


.pdf-q{
  font-size: 16px;
  margin: 0;
  text-align: center;
}

.pdf-c{
  font-size: 14px;
  margin: 10;
  text-align: center;
}

.pdf-cc{
  font-size: 14px;
  margin: 10;
  margin-top : 15px;
  text-align: center;
}

.pdf-m{
  font-size: 14px;
  margin: 10px;
  text-align: justify;
}

.col-box
{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-box {
    float: left;
    width: 20%;
}

@media (max-width: 500px)
{
  .col-box {
      float: left;
      width: 100%;
  }
}

@media (min-width: 500px)
{
  .col-box {
      float: left;
      width: 50%;
  }
}

@media (min-width: 1000px)
{
  .col-box {
      float: left;
      width: 33.333%;
  }
}

@media (min-width: 1500px)
{
  .col-box {
      float: left;
      width: 20%;
  }
}

.showText
{
  margin-bottom:20px;
}


.vertical-box
{
  margin-top: 0px;
}


@media (max-height: 400px)
{
  .showText
  {
    display:none;
  }
  .vertical-box
  {
    margin-top: 25px;
  }
}


.showDisplay
{
  padding: 10px;
}
.serviceCH
{
  width:100%;
  padding:10px;
  border-bottom:1px solid #ccc;
  font-size:40px;
  text-align: center;
  background-color: #242d6d;
  color: #fff;
  font-weight: 400;
}

.serviceBox
{
  background-color:#fff;
  width: 100%; border : 3px solid #242d6d;
  border-radius: 5px;
  margin-bottom: 20px;
}

.serviceNumber
{
  width:100%;
  padding:10px;
  font-size:50px;
  text-align: center;
  color: #242d6d;
  font-weight: 800;
}

.serviceNumberF
{
  width:100%;
  padding:10px;
  font-size:50px;
  text-align: center;
  color: #ff0000;
  font-weight: 800;
  animation: glow 3s ease-in-out 5;
  /* animation: glow 3s ease-in-out infinite; */
}

@keyframes glow{
    0%{     color: #ff0000;}
    25%{    color: #ff6666;}
    50%{    color: #ffcccc;}
    75%{    color: #ff6666;}
    100%{   color: #ff0000;}
}


#user{
  opacity: 0;
}
